<div>
    <mat-toolbar class="toolbar flex flex-between flex-middle mt-10">
        <div>   
            <img src='../../../assets/images/useraccount.jpg' class="icon margin-bottom-xl" />
    
        </div>
    <!--     
        <div class="flex flex-middle">
            <mat-icon class="margin-right-xs gray-color font-light">search</mat-icon>
            <p class="margin-remove-bottom margin-right-s text-sm gray-color font-light">Search Anything</p>
        </div>
    
        <div class="flex flex-middle">
            <mat-icon class="margin-right-s gray-color font-light">event</mat-icon>
            <p class="margin-remove-bottom margin-right-s text-sm gray-color font-light">Today</p>
            <p class="margin-remove-bottom text-sm font-light">{{myDate | date: 'MMM d' }}</p>
        </div>
        <div class="flex flex-middle">
            <p class="text-sm">
                You have 15 notifications
                <img src='../../../assets/images/hand.png' class="icon margin-bottom-xl" />
                <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
                Include text description of the icon's meaning for screen-readers
                <span class="cdk-visually-hidden font-light">
                    Example with a home icon with overlaid badge showing the number 15
                </span>
            </p>
           
    
        </div> -->
    </mat-toolbar>
    
</div>