.submitButton{
    width: 100px;
    border-radius: 4px;
    background: #212642;
    color: white;
}
.optionsButton{
    border-radius: 4px;
    border: 2px #410D85;
    box-shadow: 0px 3px 6px #0000000a;
    border-style: dashed;
}
