<div id="divChart" class="backgroundDiv p-4">
    <p class="title pl-2">Survey response curve</p>
    <p class="taskSubtitle gray-color margin-remove-bottom pl-2">The below graph shows the responses recieved for each question.</p>
    <div *ngIf="loadingGraph" class="flex flex-center">
        <svg class="spinner" width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <canvas class="fadeindownAnimation" baseChart *ngIf="!loadingGraph"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [legend]="lineChartLegend"
              [type]="'line'">
      </canvas>
</div>