.backgroundDiv{
    border: 1px solid #F6F6F6;
    box-shadow: 0px 3px 6px #0000000A;
    background-color: #F9FBFC;
    border-radius: 8px;
}
.title{
    font-size: larger;
    font-weight: 700;
}
.taskSubtitle{
    font-size: smaller;
}